.menu:hover{
    transition: 5s;
    transform: rotatey(180deg);
}
.laptop-img{
    position: relative;
    animation: lappy 2s infinite ease-in;
    animation-direction: normal;
}

@keyframes lappy {
    0% {left: 0px; bottom: 0px;}
   /* 60% {left: 0px; bottom: 50px;}*/
    80% {left: 0px; bottom: 60px;}
    100% {left: 0px; bottom: 0px;}

}
.flip-image{
    height: 92%;
}
/*.card-1:hover{
    transform: rotateY(180deg);
    /*visibility: hidden;
    background-image: url("Naruto.png");
}*/

.linkbutton1:hover{
    transition: 2s linear ; 
    background-color:chocolate ;
    color: black;
    border: transparent;
}
.linkbutton2:hover{
    transition: 2s linear ; 
    background-color:#2AFAC2 ;
    color: black;
    border: transparent;
}
.linkbutton3:hover{
    transition: 2s linear ; 
    background-color:#2AFAC2 ;
    color: black;
    border: transparent;
}
.btn11:hover{
    transition: 1s linear;
    background:#4839B7 ;
    color:#42D4EA ;
    border: transparent;
}
.action:hover{
    transition: 1.7s linear;
    background-color: #FA3B6E;
    border: transparent;
}
.ptnr:hover{
    transition: 1.3s ease-in;
    border-color: #FA3B6E;
    color:pink ;
    }


.flip-card{
    transform-style:preserve-3d;
    transition:3s linear;
    position:relative;
}
.flip-card:hover{
    transform:rotateY(180deg);
}
.card-container{
    position:absolute;
    box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
    padding:0px 61px 70px 40px;
    max-width:400px; 
    backface-visibility: hidden;
   
}
.flip-back{
    box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
    max-width:417px;
    backface-visibility: hidden;
    transform:rotateY(180deg);
    height: 88%;
}
.signup-btn{
    position:relative;
    background-image: linear-gradient(to right,rgb(175, 67, 255,0.8),rgb(250, 110, 59,0.8)); 
    z-index:1;  
    
}
.signup-btn::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to left,rgb(175, 67, 255,0.8),rgb(250, 110, 59,0.8));
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
    border-radius:2rem;
}
.signup-btn:hover::before{
    opacity:1;     
}


.login-btn{
    position:relative;
    background-image: linear-gradient(to right,#B79039,#FF8545);
    z-index:1;  
    
}
.login-btn::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to left,#B79039,#FF8545);
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
    border-radius:2rem;
}
.login-btn:hover::before{
    opacity:1;     
}
.icon11{
    position: relative;
    animation: icon 2s 20 ease-in;
    animation-direction: normal;
}

@keyframes icon {
    0% {left: 0px; bottom: 0px;}
   /* 60% {left: 0px; bottom: 50px;}*/
    80% {left: 0px; bottom: 60px;}
    100% {left: 0px; bottom: 0px;}

}
.icon3,.icon5{
    position: relative;
    animation: icon 3s 20 ease-out;
    animation-direction: normal;
}

@keyframes icon {
    0% {left: 0px; bottom: 0px;}
   /* 60% {left: 0px; bottom: 50px;}*/
    80% {left: 0px; bottom: 60px;}
    100% {left: 0px; bottom: 0px;}

}
